<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="userDStCache" class="ru.otus.L131.cache.CacheEngineImpl">
        <constructor-arg name="maxElements" value="50"/>
        <constructor-arg name="lifeTimeMs" value="5000"/>
        <constructor-arg name="idleTimeMs" value="3000"/>
        <constructor-arg name="isEternal" value="false"/>
    </bean>

    <bean id="dbservice" class="ru.otus.L131.dbservice.DBServiceHibernate" init-method="startup">
        <constructor-arg name="userDStCache" ref="userDStCache"/>
    </bean>

    <bean id="loadingDbservice" class="ru.otus.L131.LoadingDbservice" init-method="run">
        <constructor-arg name="dbservice" ref="dbservice"/>
    </bean>

    <bean id="templateProcessor" class="ru.otus.L131.webservice.TemplateProcessor"/>

</beans>